@use 'sass:math';

@mixin rotate($direction, $speed) {
  $spin: normal;

  @if ($direction == 'right') {
    $spin: reverse;
  }

  animation: rotate math.div(100, $speed) + s linear infinite $spin;
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-360deg);
    }
  }
}
