// Text
$header-text: white;

// Shadows
$shadow-dark: #000000;

// Logo
$logo-color: #f05c5c;
$logo-shadow: $shadow-dark;

// Gradiants
$bg-image-cover-grad: linear-gradient(#{45deg, #000000f6, #d6d6d638});
